body {
    text-align: center;
    display: flex;
    align-items: center;
    height: 97vh;
    justify-content: center;
    color: aqua;
}

#clock-boder {
    border-radius: 15px;
    width: 30vw;
    height: 50vh;
    border: 2px solid black;
    background-color: blueviolet;
}

#select-container {
    appearance: none;
}

.set-alarm {
    font-size: 1em;
    border: 1px solid #000000;
    border-radius: 0.3em;
    padding: 0.4em 0.2em;
    width: 2em;
}

#alarm-btn {
    width: auto;
    background-color: green;
}

#alarm-btn:hover {
    background-color: chartreuse;
}

.inline {
    display: inline;
    font-size: larger;
}

#set-time-container {
    display: flex;
    justify-content: space-evenly
}

ul {
    margin: 0px;
    padding: 0px;
    border: 0px;
    list-style-type: none;
    height: 22vh;
    overflow: auto;
}

li>h4 {
    margin: 3% 15%;
}

li {
    margin-top: 1%;
}

.delete-btn {
    background-color: brown;
    border: 0px;
}

.delete-btn:hover {
    background-color: red;
}

::-webkit-scrollbar {
    background-color: transparent;
}